<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS, Js -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
    
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/common.css">
    <link rel="stylesheet" href="styles/components/nav.css">
    <link rel="stylesheet" href="styles/homePage.css">

    

    <title>Warehouse Inventory System</title>
</head>
<body>
    <header id="navBar-gen">
          <!-- <nav class="navbar navbar-expand-lg p-3 navbar-light bg-white nav-style">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Navbar</a>
              <div class="d-flex justify-content-evenly">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Create New Company</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="/api/company/logout">Logout</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav> -->
          <div class="container contentBox">
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
          </div>
    </header>
    <main>
        <section class="container contentBox" id="display-child-company">
          <article>
            <h1>Company A</h1>
            <div class="companies-status">
                <div>
                  <h3>Warehouse: 2 <a  data-bs-toggle="collapse" href="#collapseCompany-01"><i class="fas fa-caret-down"></i></a></h3>
                </div>
                <div class="">
                  <div class="collapse capacity-status" id="collapseCompany-01">
                    <div class="container collapse-box">
                      
                      <div class="row collapse-box-warehouse">
                        <div class="col-3 warehouse-name">
                          <p>
                            Warehouse name :
                          </p> 
                        </div>
                        <div class="col-9 fixed-height-chart">
                          <div class="capacity-ft">2040 <span>ft</span> available of 5000 <span>ft</span></div>
                          <canvas id="myChart01"></canvas>
                        </div>
                      </div>

                      <div class="row collapse-box-warehouse">
                        <div class="col-3 warehouse-name">
                          <p>
                            Warehouse name :
                          </p> 
                        </div>
                        <div class="col-9 fixed-height-chart">
                          <div class="capacity-ft">2040 <span>ft</span> available of 5000 <span>ft</span></div>
                          <canvas id="myChart02"></canvas>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div>
                  <h3>Location: Washington</h3>
                </div>
            </div>
          </article>

          <div class="text-center mt-5 mb-2">
            <button class="btn btn-outline-success">More Company...</button>
          </div>
            
        </section>
        
    </main>
    <div class="footerGen"></div>


    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="scripts/api.js"></script>
    <script src="scripts/components/nav.js"></script>
    <script src="scripts/homePage.js"></script>
    <script src="scripts/components/footer.js"></script>
    <!-- <script>
      const labels = [
        'Warehouse A'
      ];
      const data = {
        labels: labels,
        datasets: [
          {
          label: 'Used',
          backgroundColor: 'rgb(255, 99, 132)',
          // borderColor: 'rgb(255, 99, 132)',
          data: [40],
        },
        {
          label: 'Available',
          backgroundColor: 'rgb(230, 230, 230)',
          // borderColor: 'rgb(255, 99, 132)',
          data: [60],
        },
      ]
      };
      const config = {
        type: 'bar',
        data: data,
        options: {
          indexAxis: 'y',
          responsive: true,
          maintainAspectRatio: false,
          scales: {
              x: {
                  display: false,
                  stacked: true
              },
              y: {
                  display: false,
                  stacked: true
              }
          },
          plugins: {
            legend: {
              // maxHeight: 100,
              align: 'end',
              display: false
            },
            tooltip: {
              // enabled: false,
              // boxHeight: 10,
              callbacks: {
                  label: function(context) {
                    let myLabel = context['dataset']['label']+': ' + context['raw'] + '%';
                    return myLabel;
                  },

                  title: function(context) {
                    return;
                  }
              },
              titleMarginBottom: 0
            }
          }

        }
      };

      // var myChart01 = new Chart(
      //   document.getElementById('myChart01'),
      //   config
      // );

      // var myChart02 = new Chart(
      //   document.getElementById('myChart02'),
      //   config
      // );

      // var myChart03 = new Chart(
      //   document.getElementById('myChart03'),
      //   config
      // );

      // var myChart04 = new Chart(
      //   document.getElementById('myChart04'),
      //   config
      // );

    </script> -->
</body>
</html>