
#display-child-company article {
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(230, 230, 230);
    margin-bottom: 20px;
}
#display-child-company article:last-child {
    border-bottom: 0px;
}

.companies-status{
    padding: 10px 25px;
}

.childcompany-btn:hover{
    cursor: pointer;
}

/* .collapse-box{
    padding: 10px 30px 20px 30px;
} */

/* .collapse-box-warehouse{
    padding-bottom: 10px;
} */
/* .warehouse-name{
   display: flex;
   align-items: flex-end;
} */
/* .warehouse-name > p {
    margin: 6px;
} */
/* .collapse-box-warehouse > div {
    height: 45px;
} */

/* .fixed-height-chart{
    padding: 10px 0px;
    width: 50%;
} */

/* .capacity-ft{
    position: relative;
    font-size: 10px;
    margin-bottom: 1px;
    color: gray;
} */
/* .capacity-ft > span{
    margin-right: 5px;
} */
/* .capacity-ft > span::after{
    content: '2';
    font-size: 6px;
    position: absolute;
    top: 0;
} */