.loginForm-main{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 20%;
    justify-content: center;
    align-items: center;
}

/* Override */
.contentBox {
    width: 375px;
}

.loginForm-main > div > h3 {
    font-size: 24px;
    margin-bottom: 50px;
}

.loginForm-main > form {
    margin: 0 10px;
}

.login-bottom-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-bottom-area > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-bottom-area > div > input {
    margin-right: 10px;
}

.login-bottom-area > div > input:hover {
    cursor: pointer;
}

#inputEmail-input{
    display: none;
}